<html>
    <body>
        <div style="width: 1200px; margin: 0 auto; border: 1px dotted red;"></div>
        <a href="/" style="font-size: 20px;">Home</a>
        <form action="/addcontent_submit" method="post">
            <table align="center" border="1" width="600">
            <tr>
                    <td>Content data</td>
                    <td><input type="text" name="contentdata"/></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td><input type="text" name="title" /></td>
                    </tr>
                    <tr>
                    <!-- <td>Datetime</td>
                    <td><input type="date" name="datetime" />
                    </td></tr> -->
                    <td colspan="2" align="center">
                        <input type="submit"value="Submit"/>
                    </td>
            </table>
        </form>
    </body>
</html>