<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
</head>
<body>
    <h1>Edit Course</h1>
    <form action="/editcourse_video_submit" method="post">
        <input type="hidden" name="cvid" value="<%= result && result.length > 0 ? result[0].cvid : '' %>">
        <table>
            <tr>
                <td>Video Title</td>
                <td>
                    <input type="text" name="video_title"/>
                </td>
            </tr>
            <tr>
                <td>Video Url</td>
                <td>
                    <input type="text" name="video_url"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Update course_video</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
