<html>
    <body>
        <div>
            <ul>
                <!-- <li><a href="/">Home</a></li> -->
                <li><a href="/addcourse">Add Course</a></li>
                <li><a href="/listcourse">List Course</a></li>
                <li><a href="/addcontent">Add Content</a></li>
                <li><a href="/listcontent">List Content</a></li>
                <li><a href="/addcourse_lang">Add Courselang</a></li>
                <li><a href="/listcourse_lang">List Courselang</a></li>
                <li><a href="/addcourse_video">Add Coursevideo</a></li>
                <li><a href="/listcourse_video">List Coursevideo</a></li>
                <li><a href="/adduser">Add User</a></li>
                <li><a href="/listuser">List User</a></li>
                <li><a href="/adduser_course">Add Usercourse</a></li>
                <li><a href="/listuser_course">List Usercourse</a></li>
                <!-- <li>Logout</li> -->
            </ul>
        </div>
    </body>
</html>